{% extends 'curso/layout.html' %}

{% block title %}
Confirmação de Recuperação de Senha
{% endblock %}

{% block content %}
<h2>Confirmação de Recuperação de Senha</h2>
<form method="post">
    {% csrf_token %}
    <label for="id_new_password1">Nova Senha:</label><br>
    <input type="password" id="id_new_password1" name="new_password1"><br>
    <label for="id_new_password2">Confirme a Nova Senha:</label><br>
    <input type="password" id="id_new_password2" name="new_password2"><br><br>
    <button type="submit">Salvar Nova Senha</button>
</form>
{% endblock %}
