{% extends 'curso/layout.html' %}

{% block title %}
Recuperação de Senha
{% endblock %}

{% block content %}
<h2>Recuperação de Senha</h2>
<form method="post">
    {% csrf_token %}
    <p>Por favor, insira seu endereço de e-mail abaixo. Você receberá um link para criar uma nova senha via e-mail.</p>
    <label for="id_email">Endereço de E-mail:</label><br>
    <input type="email" id="id_email" name="email"><br><br>
    <button type="submit">Enviar E-mail de Recuperação</button>
</form>
{% endblock %}
